	<!-- Start Preloader Section -->
	<div class="preloader">
		<div class="loader">
			<div class="shadow"></div>
			<div class="box">
                <img src="../../../../../assets/img/loading GIF.gif" alt="">
            </div>
		</div>
	</div>
	<!-- End Preloader Section -->

    <!-- <div class="loader-overlay">
        <div class="loader">
           
        </div>
      </div> -->


<!-- Start Home Section -->
<div class="home-section">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="main-banner-content">
                            <ul class="social-icon-list">
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                            <h1>Empowering Your Business with Cutting-Edge Solutions</h1>
                            <p> Are you ready to revolutionize the way you manage your business operations? Look no further! Our SaaS (Software as a Service) platform is here to streamline your processes, enhance collaboration, and drive unprecedented growth.</p>
                            <div class="banner-btn">
                                <a class="default-btn-one" routerLink="service">Our Service <span></span></a>
                                <a class="default-btn-two" routerLink="contact">Contact Us <span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12" data-tilt>
                        <div class="banner-image">
                            <img src="assets/img/home-font.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="creative-shape">
        <img src="assets/img/home-bottom-shape.png" alt="svg shape">
    </div>
</div>
<!-- End Home Section -->


<app-service></app-service>
<app-about></app-about>
<app-overview-a></app-overview-a>
<app-overview-b></app-overview-b>
<app-portfolio></app-portfolio>
<app-counter></app-counter>
<app-testimonial></app-testimonial>
<app-team></app-team>
<app-blog></app-blog>
<app-hire></app-hire>
<app-partner></app-partner>