/*********************************
 ** - 04 - Home 1 Section CSS
 *********************************/
 .home-section {
	overflow: hidden;
	position: relative;
	z-index: 1;
	display: flex;
    align-items: center;
	height: 800px;
	min-height: 100vh;
	background: -webkit-gradient(linear, left top, left bottom, from(#370b6f), color-stop(#00429b), color-stop(#006dba), color-stop(#0095ce), to(#2dbcdc));
	background: linear-gradient(to bottom, #370b6f, #00429b, #006dba, #0095ce, #2dbcdc);
}

.main-banner-content {
    padding-top: 50px;
}

.main-banner-content h1 {
	color: #ffffff;
	font-size: 49px;
	font-weight: 700;
	margin: 0 0 20px 0;
}

.main-banner-content h6 {
	color: #ff9800;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.main-banner-content p {
	color: #ffffff;
	font-size: 16px;
	margin: 0 0 0 0;
}

.main-banner-content .banner-btn {
	margin-top: 25px;
}

.home-section .banner-image {
    text-align: center;
    padding-top: 50px;
}

.home-section .creative-shape {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: auto;
}

/**************************************
 ** - 04.2 - Home-2 Section CSS
 **************************************/
.home-section.home-2 {
    position: relative;
    z-index: 1;
    height: 800px;
    min-height: 100vh;
    background: url(../../../../../assets/img/home-bg-2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-section.home-2 .main-banner-content {
    padding-top: 70px;
}

.home-section.home-2 .main-banner-content .banner-btn {
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.home-section.home-2 .main-banner-content h1 {
    color: #362c72;
    font-size: 68px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.home-section.home-2 .main-banner-content p {
    color: #333333;
}

.video-box {
    position: relative;
	margin-left: 15px;
    display: inline-block;
}

.home-section.home-2 .video-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: #7b68ee;
    border-radius: 50%;
    -webkit-animation: ripple-white 1s linear infinite;
    animation: ripple-white 1s linear infinite;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.home-section.home-2 .video-btn i {
	color: #ffffff;
	font-size: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	padding-left: 2px;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.home-section.home-2 .video-btn:hover {
    background-color: #ffffff;
}

.home-section.home-2 .video-btn:hover i {
	color: #7b68ee;
}

@-webkit-keyframes ripple-white {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(123, 104, 238, 0.4), 0 0 0 5px rgba(123, 104, 238, 0.4), 0 0 0 10px rgba(123, 104, 238, 0.4);
		box-shadow: 0 0 0 0 rgba(123, 104, 238, 0.4), 0 0 0 5px rgba(123, 104, 238, 0.4), 0 0 0 10px rgba(123, 104, 238, 0.4);
	}
	100% {
		-webkit-box-shadow: 0 0 0 5px rgba(123, 104, 238, 0.4), 0 0 0 10px rgba(123, 104, 238, 0.4), 0 0 0 20px rgba(123, 104, 238, 0);
		box-shadow: 0 0 0 5px rgba(123, 104, 238, 0.4), 0 0 0 10px rgba(123, 104, 238, 0.4), 0 0 0 20px rgba(123, 104, 238, 0);
	}
}
@keyframes ripple-white {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(123, 104, 238, 0.4), 0 0 0 5px rgba(123, 104, 238, 0.4), 0 0 0 10px rgba(123, 104, 238, 0.4);
		box-shadow: 0 0 0 0 rgba(123, 104, 238, 0.4), 0 0 0 5px rgba(123, 104, 238, 0.4), 0 0 0 10px rgba(123, 104, 238, 0.4);
	}
	100% {
		-webkit-box-shadow: 0 0 0 5px rgba(123, 104, 238, 0.4), 0 0 0 10px rgba(123, 104, 238, 0.4), 0 0 0 20px rgba(123, 104, 238, 0);
		box-shadow: 0 0 0 5px rgba(123, 104, 238, 0.4), 0 0 0 10px rgba(123, 104, 238, 0.4), 0 0 0 20px rgba(123, 104, 238, 0);
	}
}


/****************************************
 ** - 04.2 - Home-2 Shape Animation
 ****************************************/
.home-shape-animation .shape-1 {
    position: absolute;
    right: 10%;
    top: 16%;
    z-index: -1;
    -webkit-animation: animationFramesOne 20s infinite linear;
    animation: animationFramesOne 20s infinite linear;
}
.home-shape-animation .shape-2 {
    position: absolute;
    left: 33%;
    top: 18%;
    z-index: -1;
}
.home-shape-animation .shape-2 img {
    -webkit-animation-name: rotateMe;
    animation-name: rotateMe;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
.home-shape-animation .shape-3 {
    position: absolute;
    left: 5%;
    bottom: 25%;
    z-index: -1;
    -webkit-animation: animationFramesOne 20s infinite linear;
    animation: animationFramesOne 20s infinite linear;
}
.home-shape-animation .shape-4 {
    position: absolute;
    right: 10%;
    bottom: 25%;
    z-index: -1;
    -webkit-animation: animationFramesTwo 20s infinite linear;
    animation: animationFramesTwo 20s infinite linear;
}
.home-shape-animation .shape-5 {
    position: absolute;
    left: 5%;
    top: 26%;
    z-index: -1;
    -webkit-animation: moveLeftBounce 3s linear infinite;
    animation: moveLeftBounce 3s linear infinite;
}
.home-shape-animation .shape-6 {
    position: absolute;
    left: 50%;
    bottom: 15%;
    z-index: -1;
    -webkit-animation: rotate3d 4s linear infinite;
    animation: rotate3d 4s linear infinite;
}
.home-shape-animation .shape-7 {
    position: absolute;
    left: 50%;
    top: 15%;
    z-index: -1;
    -webkit-animation: moveScale 3s linear infinite;
    animation: moveScale 3s linear infinite;
}

@-webkit-keyframes rotateMe {
    from{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    to{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@keyframes rotateMe{
    from{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    to{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@-webkit-keyframes animationFramesOne {
    0%{
        -webkit-transform:translate(0px,0px) rotate(0deg);
        transform:translate(0px,0px) rotate(0deg)
    }
    20%{
        -webkit-transform:translate(73px,-1px) rotate(36deg);
        transform:translate(73px,-1px) rotate(36deg)
    }
    40%{
        -webkit-transform:translate(141px,72px) rotate(72deg);
        transform:translate(141px,72px) rotate(72deg)
    }
    60%{
        -webkit-transform:translate(83px,122px) rotate(108deg);
        transform:translate(83px,122px) rotate(108deg)
    }
    80%{
        -webkit-transform:translate(-40px,72px) rotate(144deg);
        transform:translate(-40px,72px) rotate(144deg)
    }
    100%{
        -webkit-transform:translate(0px,0px) rotate(0deg);
        transform:translate(0px,0px) rotate(0deg)
    }
}
@keyframes animationFramesOne {
    0%{
        -webkit-transform:translate(0px,0px) rotate(0deg);
        transform:translate(0px,0px) rotate(0deg)
    }
    20%{
        -webkit-transform:translate(73px,-1px) rotate(36deg);
        transform:translate(73px,-1px) rotate(36deg)
    }
    40%{
        -webkit-transform:translate(141px,72px) rotate(72deg);
        transform:translate(141px,72px) rotate(72deg)
    }
    60%{
        -webkit-transform:translate(83px,122px) rotate(108deg);
        transform:translate(83px,122px) rotate(108deg)
    }
    80%{
        -webkit-transform:translate(-40px,72px) rotate(144deg);
        transform:translate(-40px,72px) rotate(144deg)
    }
    100%{
        -webkit-transform:translate(0px,0px) rotate(0deg);
        transform:translate(0px,0px) rotate(0deg)
    }
}
@-webkit-keyframes animationFramesTwo {
    0%{
        -webkit-transform:translate(0px,0px) rotate(0deg);
        transform:translate(0px,0px) rotate(0deg)
    }
    20%{
        -webkit-transform:translate(-73px,1px) rotate(-36deg);
        transform:translate(-73px,1px) rotate(-36deg)
    }
    40%{
        -webkit-transform:translate(-141px,-72px) rotate(-72deg);
        transform:translate(-141px,-72px) rotate(-72deg)
    }
    60%{
        -webkit-transform:translate(-83px,-122px) rotate(-108deg);
        transform:translate(-83px,-122px) rotate(-108deg)
    }
    80%{
        -webkit-transform:translate(40px,-72px) rotate(-144deg);
        transform:translate(40px,-72px) rotate(-144deg)
    }
    100%{
        -webkit-transform:translate(0px,0px) rotate(0deg);
        transform:translate(0px,0px) rotate(0deg)
    }
}
@keyframes animationFramesTwo {
    0%{
        -webkit-transform:translate(0px,0px) rotate(0deg);
        transform:translate(0px,0px) rotate(0deg)
    }
    20%{
        -webkit-transform:translate(-73px,1px) rotate(-36deg);
        transform:translate(-73px,1px) rotate(-36deg)
    }
    40%{
        -webkit-transform:translate(-141px,-72px) rotate(-72deg);
        transform:translate(-141px,-72px) rotate(-72deg)
    }
    60%{
        -webkit-transform:translate(-83px,-122px) rotate(-108deg);
        transform:translate(-83px,-122px) rotate(-108deg)
    }
    80%{
        -webkit-transform:translate(40px,-72px) rotate(-144deg);
        transform:translate(40px,-72px) rotate(-144deg)
    }
    100%{
        -webkit-transform:translate(0px,0px) rotate(0deg);
        transform:translate(0px,0px) rotate(0deg)
    }
}
@-webkit-keyframes rotate3d {
    0%{
        -webkit-transform:rotateY(0deg);
        transform:rotateY(0deg)
    }
    100%{
        -webkit-transform:rotateY(360deg);
        transform:rotateY(360deg)
    }
}
@keyframes rotate3d {
    0%{
        -webkit-transform:rotateY(0deg);
        transform:rotateY(0deg)
    }
    100%{
        -webkit-transform:rotateY(360deg);
        transform:rotateY(360deg)
    }
}
@-webkit-keyframes moveScale {
    0%{
        -webkit-transform:scale(.6);
        transform:scale(.6)
    }
    50%{
        -webkit-transform:scale(.8);
        transform:scale(.8)
    }
    100%{
        -webkit-transform:scale(.6);
        transform:scale(.6)
    }
}
@keyframes moveScale {
    0%{
        -webkit-transform:scale(.6);
        transform:scale(.6)
    }
    50%{
        -webkit-transform:scale(.8);
        transform:scale(.8)
    }
    100%{
        -webkit-transform:scale(.6);
        transform:scale(.6)
    }
}
@-webkit-keyframes moveLeftBounce {
    0%{
        -webkit-transform:translateX(0px);
        transform:translateX(0px)
    }
    50%{
        -webkit-transform:translateX(20px);
        transform:translateX(20px)
    }
    100%{
        -webkit-transform:translateX(0px);
        transform:translateX(0px)
    }
}
@keyframes moveLeftBounce {
    0%{
        -webkit-transform:translateX(0px);
        transform:translateX(0px)
    }
    50%{
        -webkit-transform:translateX(20px);
        transform:translateX(20px)
    }
    100%{
        -webkit-transform:translateX(0px);
        transform:translateX(0px)
    }
}
@-webkit-keyframes moveBounce {
    0%{
        -webkit-transform:translateY(0px);
        transform:translateY(0px)
    }
    50%{
        -webkit-transform:translateY(20px);
        transform:translateY(20px)
    }
    100%{
        -webkit-transform:translateY(0px);
        transform:translateY(0px)
    }
}
@keyframes moveBounce {
    0%{
        -webkit-transform:translateY(0px);
        transform:translateY(0px)
    }
    50%{
        -webkit-transform:translateY(20px);
        transform:translateY(20px)
    }
    100%{
        -webkit-transform:translateY(0px);
        transform:translateY(0px)
    }
}

/**************************************
 ** - 04.3 - Home-3 Section CSS
 **************************************/
.home-3 {
	position: relative;
	z-index: 1;
	height: 750px;
	min-height: 100vh;
	background: url(../../../../../assets/img/home-3-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.home-3::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .3;
	background-color: #1f3081 !important;
}

#particles-js {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	pointer-events: none;
}

.home-3 .main-banner-content {
	padding-top: 70px;
}

.home-3 .main-banner-content h1 {
    color: #ffffff;
    font-size: 68px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.home-3 .banner-image {
    padding-top: 70px;
}

.main-banner-content .social-icon-list {
    margin-bottom: 15px;
}

.main-banner-content .social-icon-list li {
    display: inline-block;
    margin: 5px 5px;
}

.main-banner-content .social-icon-list li a {
    color: #fff;
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid rgb(255, 255, 255, 0.2);
    background-color: transparent;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.main-banner-content .social-icon-list li a:hover {
    color: #fff;
    border: 1px solid #7b68ee;
    background-color: #7b68ee;
}

/****************************************
 ** - 04.4 - Home Slider Section CSS
 ****************************************/
.slider {
	position: relative;
}

.slider.fixed-slider {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.slider .swiper-slide-active {
	z-index: 3;
}

.slider .parallax-slider {
	position: relative;
	height: 750px;
	min-height: 100vh;
}

.slider .parallax-slider .swiper-slide {
	position: relative;
	overflow: hidden;
	width: 100%;
	min-height: 100vh;
	padding-bottom: 50px;
}

.slider .parallax-slider .swiper-slide .bg-img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
}

.slider .parallax-slider .swiper-slide-active .caption h1 {
	animation: fadeInLeft .8s;
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}

.slider .parallax-slider .caption {
	padding-top: 70px;
	text-align: center;
}

.slider .parallax-slider .caption h1 {
	color: #fff;
	font-size: 65px;
	font-weight: 700;
	line-height: normal;
}
.slider .parallax-slider .caption p {
	color: #fff;
	font-weight: 500;
	margin-top: 25px;
	margin-bottom: 25px;
}

.slider .parallax-slider .swiper-slide-active .caption p {
	color: #fff;
	font-weight: 500;
	animation: fadeInRight .8s;
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}

.slider .parallax-slider .swiper-slide-active .caption .home-slider-btn {
	position: relative;
	opacity: 1;
	animation: fadeInLeft 1s;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

.slider .control-text {
	position: absolute;
	top: 50%;
	z-index: 8;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.slider .control-text .swiper-nav-ctrl {
	position: static;
	width: auto;
	height: auto;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	padding: 5px 10px;
	display: inline-block;
	border-radius: 5px;
	background-color: transparent;
	margin-left: 15px;
	margin-right: 15px;
}

.slider .control-text .swiper-nav-ctrl:after {
	font-size: 20px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    display: block;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.3);
}
.slider .swiper-pagination-bullets {
	bottom: 20px;
}
.slider .swiper-pagination-bullet {
	opacity: .4;
	background-color: #fff;
}
.slider .swiper-pagination-bullet-active {
	opacity: 1;
	background-color: #fff;
}

.slider .parallax-slider .swiper-slide-active .caption .social-icon-list {
	animation: fadeInUp .8s;
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}

.slider .parallax-slider .caption .social-icon-list {
    margin-bottom: 20px;
}

.slider .parallax-slider .caption .social-icon-list li {
    display: inline-block;
    margin: 5px 5px;
}

.slider .parallax-slider .caption .social-icon-list li a {
    color: #fff !important;
    font-size: 18px !important;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid rgb(255, 255, 255, 0.2);
    background-color: transparent;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.slider .parallax-slider .caption .social-icon-list li a:hover {
    color: #fff;
    border: 1px solid #7b68ee;
    background-color: #7b68ee;
}

/********************************************
 ** - 04.5 - Home Slideshow Section CSS
 ********************************************/
.home-slideshow {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 750px;
	min-height: 100vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.home-slideshow::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.home-slideshow .main-banner-content {
	padding-top: 70px;
	text-align: center;
}

.home-slideshow .main-banner-content h5 {
	color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 20px 0;
}
.home-slideshow .main-banner-content h1 {
	color: #ffffff;
	font-size: 65px;
	font-weight: 700;
	margin: 0 0 20px 0;
}

.home-slideshow .main-banner-content p {
	color: #ffffff;
	font-size: 16px;
	margin: 0 0 0 0;
}

.home-slideshow .main-banner-content .banner-btn {
	display: flex;
    align-items: center;
	justify-content: center;
    text-align: center;
	margin-top: 25px;
}

.home-slideshow .main-banner-content .banner-btn .default-btn-one span {
	background-color: #ff561d;
}

/************************************
 ** - 04.6 - Home 6 Section CSS
 ************************************/
.home-6.home-section {
	overflow: hidden;
    position: relative;
    z-index: 1;
    height: 800px;
    min-height: 100vh;
    background: url(../../../../../assets/img/home-6-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-6.home-section:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	background-color: transparent;
	background-image: linear-gradient(70deg,#7b68ee 40%,#7b68ee 30%,rgb(123, 104, 238, 0.12) 70%);
}
.home-6 .main-banner-content {
    padding-top: 70px;
}

.home-6.home-section .main-banner-content .social-icon-list li a:hover {
    color: #7b68ee;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}