	<!-- Start Page Title Section -->
	<div class="page-title-area">
		<div class="d-table">
			<div class="d-table-cell">
				<div class="container">
					<div class="page-title-content">
						<h2>About Us</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li>About Us</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Page Title Section -->
	
	<!-- Start Feature Section -->
    <section class="feature-section pt-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="feature-single-item">
                        <img src="assets/img/icon/feature-icon-1.svg" alt="icon">
                        <h3>Flexibility & Responsive</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam</p>
						<div class="feature-btn-box"> 
							<a href="#" class="read-more"><i class="bi bi-arrow-right-short"></i> Learn More</a>
						</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature-single-item">
                        <img src="assets/img/icon/feature-icon-2.svg" alt="icon">
                        <h3>Dedicated Teams</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam</p>
						<div class="feature-btn-box"> 
							<a href="#" class="read-more"><i class="bi bi-arrow-right-short"></i> Learn More</a>
						</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature-single-item">
                        <img src="assets/img/icon/feature-icon-3.svg" alt="icon">
                        <h3>Focusing on Business</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam</p>
						<div class="feature-btn-box"> 
							<a href="#" class="read-more"><i class="bi bi-arrow-right-short"></i> Learn More</a>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<!-- End Feature Section -->
	
	<!-- Start About Section -->
	<section class="about-area section-padding">
		<div class="container">
			<div class="row d-flex align-items-center">
				<div class="col-lg-6 col-md-12">
					<div class="about-content">
						<h6 class="sub-title">About Our Company</h6> 
						<h2>Providing Your Business With A Quality IT Service is Our Passion</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim</p>
						<div class="skills">
							<div class="skill-item">
								<h6>IT Consulting <em>100%</em></h6>
								<div class="skill-progress">
									<div class="progres" data-value="100%"></div>
								</div>
							</div>
							<div class="skill-item">
								<h6>Cloud Solutions <em>100%</em></h6>
								<div class="skill-progress">
									<div class="progres" data-value="100%"></div>
								</div>
							</div>
							<div class="skill-item">
								<h6>Managed IT Service <em>100%</em></h6>
								<div class="skill-progress">
									<div class="progres" data-value="100%"></div>
								</div>
							</div>
						</div>
						<div class="about-btn-box"> 
							<a class="default-btn" href="about.html">Learn More <span></span></a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="about-image">
						<img src="assets/img/about.jpg" alt="About image">
						<div class="years-design">
							<h2>23</h2>
							<h5>Years Of Experience</h5>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End About Section -->
	
	<!-- Start Counter Section -->
	<section class="counter-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 counter-item">
					<div class="single-counter">
						<div class="counter-contents">
							<h2>
								<span class="counter-number">23</span>
								<span>+</span>
							</h2>
							<h3 class="counter-heading">Years Helping Business</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 counter-item">
					<div class="single-counter">
						<div class="counter-contents">
							<h2>
								<span class="counter-number">250</span>
								<span>+</span>
							</h2>
							<h3 class="counter-heading">Working Employees</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 counter-item">
					<div class="single-counter">
						<div class="counter-contents">
							<h2>
								<span class="counter-number">4500</span>
								<span>+</span>
							</h2>
							<h3 class="counter-heading">Complete Projects</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 counter-item">
					<div class="single-counter">
						<div class="counter-contents">
							<h2>
								<span class="counter-number">3000</span>
								<span>+</span>
							</h2>
							<h3 class="counter-heading">Happy Customers</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Counter Section -->
	
	<!-- Start Team Section -->
	<section class="team-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h6 class="sub-title">Team Member</h6>
						<h2>Expert Team</h2>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-team-box">
						<div class="team-image">
							<img src="assets/img/team/team-1.jpg" alt="team">
							<div class="team-social-icon">
								<a href="#"><i class="fab fa-facebook-f"></i></a>
								<a href="#"><i class="fab fa-twitter"></i></a>
								<a href="#"><i class="fab fa-linkedin"></i></a>
							</div>
						</div>
						<div class="team-info">
							<h3>Ava Farrington</h3>
							<span>Founder, CEO</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-team-box">
						<div class="team-image">
							<img src="assets/img/team/team-2.jpg" alt="team">
							<div class="team-social-icon">
								<a href="#"><i class="fab fa-facebook-f"></i></a>
								<a href="#"><i class="fab fa-twitter"></i></a>
								<a href="#"><i class="fab fa-linkedin"></i></a>
							</div>
						</div>
						<div class="team-info">
							<h3>Kevin Haley</h3>
							<span>Co-Founder, CTO</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-team-box">
						<div class="team-image">
							<img src="assets/img/team/team-3.jpg" alt="team">
							<div class="team-social-icon">
								<a href="#"><i class="fab fa-facebook-f"></i></a>
								<a href="#"><i class="fab fa-twitter"></i></a>
								<a href="#"><i class="fab fa-linkedin"></i></a>
							</div>
						</div>
						<div class="team-info">
							<h3>Alishia Fulton</h3>
							<span>Chief Creative Officer</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-team-box">
						<div class="team-image">
							<img src="assets/img/team/team-4.jpg" alt="team">
							<div class="team-social-icon">
								<a href="#"><i class="fab fa-facebook-f"></i></a>
								<a href="#"><i class="fab fa-twitter"></i></a>
								<a href="#"><i class="fab fa-linkedin"></i></a>
							</div>
						</div>
						<div class="team-info">
							<h3>Lucas Martinez</h3>
							<span>Creative Director</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Team Section -->
	
    <!-- Start Works Process Section -->
    <section class="workprocess-section bg-grey section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h6 class="sub-title">4 Step Work Process</h6>
                        <h2>Working Process</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="workprocess-single-item">
                        <div class="workprocess-icon-box">
							<img src="assets/img/icon/workprocess-icon-1.svg" alt="icon">
                        </div>
                        <div class="workprocess-info">
                            <h3>Discover</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt dolore magna aliqua.</p>
                        </div>
						<div class="workprocess-number-bg"><span>01</span></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="workprocess-single-item">
                        <div class="workprocess-icon-box">
							<img src="assets/img/icon/workprocess-icon-2.svg" alt="icon">
                        </div>
                        <div class="workprocess-info">
                            <h3>Design & Development</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt dolore magna aliqua.</p>
                        </div>
						<div class="workprocess-number-bg"><span>02</span></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="workprocess-single-item">
                        <div class="workprocess-icon-box">
							<img src="assets/img/icon/workprocess-icon-3.svg" alt="icon">
                        </div>
                        <div class="workprocess-info">
                            <h3>Install & Testing</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt dolore magna aliqua.</p>
                        </div>
						<div class="workprocess-number-bg"><span>03</span></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="workprocess-single-item">
                        <div class="workprocess-icon-box">
							<img src="assets/img/icon/workprocess-icon-4.svg" alt="icon">
                        </div>
                        <div class="workprocess-info">
                            <h3>Project Delivery</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt dolore magna aliqua.</p>
                        </div>
						<div class="workprocess-number-bg"><span>04</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Works Process Section -->
	
	<!-- Start Hire Section -->
	<section class="hire-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 col-md-12">
					<div class="hire-content">
						<h6 class="sub-title">Want to work with us?</h6>
						<h2>Digitally Transform & Grow Your Business</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud consectetur voluptatem accusantium doloremque adipiscing elit.</p>
						<div class="hire-btn">
							<a class="default-btn" href="tel:12345678">Call Now<span></span></a>
							<a class="default-btn-one" href="contact.html">Contact Us<span></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Hire Section -->
	
	<!-- Start Partner section -->
	<section class="partner-section pt-100 pb-70">
		<div class="container">
			<div class="partner-title">
				<h6 class="sub-title">Trusted By Over 1500</h6>
				<h2>Our Customers</h2>
			</div>
			<div class="partner-list">
				<div class="partner-item">
					<a href="#0">
						<img src="assets/img/partner/client-1.png" alt="image">
					</a>
				</div>
				<div class="partner-item">
					<a href="#0">
						<img src="assets/img/partner/client-2.png" alt="image">
					</a>
				</div>
				<div class="partner-item">
					<a href="#0">
						<img src="assets/img/partner/client-3.png" alt="image">
					</a>
				</div>
				<div class="partner-item">
					<a href="#0">
						<img src="assets/img/partner/client-4.png" alt="image">
					</a>
				</div>
				<div class="partner-item">
					<a href="#0">
						<img src="assets/img/partner/client-5.png" alt="image">
					</a>
				</div>
				<div class="partner-item">
					<a href="#0">
						<img src="assets/img/partner/client-6.png" alt="image">
					</a>
				</div>
				<div class="partner-item">
					<a href="#0">
						<img src="assets/img/partner/client-7.png" alt="image">
					</a>
				</div>
				<div class="partner-item">
					<a href="#0">
						<img src="assets/img/partner/client-8.png" alt="image">
					</a>
				</div>
				<div class="partner-item">
					<a href="#0">
						<img src="assets/img/partner/client-1.png" alt="image">
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End Partner section -->