/**************************************
 ** - 15 - Testimonial Section CSS
 **************************************/
 .testimonial-section {
	position: relative;
	z-index: 1;
	text-align: center;
}

.single-testimonial {
	position: relative;
	padding: 35px 20px;
	border-radius: 5px;
	background-color: #fafafa;
}

.single-testimonial .testimonial-content {
	text-align: center;
	margin-bottom: 25px;
}

.single-testimonial .rating-box {
	margin-bottom: 12px;
}
.rating-box ul li {
	display: inline-block;
	margin-right: 0px;
}

.rating-box ul li i {
	color: #ffce39;
	font-size: 18px;
}

.single-testimonial .testimonial-content p {
	color: #333;
	font-size: 17px;
	font-style: italic;
	line-height: 1.8;
}

.single-testimonial .avatar {
	margin: 0 auto;
	margin-bottom: 15px;
}

.single-testimonial .avatar img {
	width: 90px;
	border-radius: 50%;
	border: 5px solid #ffffff;
	border-left-color: #7b68ee;
	border-bottom-color: #7b68ee;
	margin: 0 auto;
}

.single-testimonial .testimonial-bio {
	text-align: center;
}

.single-testimonial .testimonial-bio .bio-info h3 {
	color: #333;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 5px;
}

.single-testimonial .testimonial-bio .bio-info span {
	color: #7b68ee;
    font-size: 16px;
    font-weight: 500;
    display: block;
}

.testimonial-slider.owl-theme .owl-nav {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	margin-top: 0;
}

.testimonial-slider.owl-theme .owl-nav [class*=owl-] {
	position: absolute;
	top: 50%;
	left: 10px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	background-color: #fff;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	color: #333;
	font-size: 18px;
	width: 50px;
	height: 45px;
	line-height: 50px;
	padding: 0;
	margin: 0;
}

.testimonial-slider.owl-theme .owl-nav [class*=owl-].owl-next {
	left: auto;
	right: 10px;
}

.testimonial-slider.owl-theme .owl-nav [class*=owl-]:hover {
	color: #7b68ee;
	background-color: transparent;
}

.testimonial-slider.owl-theme .owl-dots {
	margin-top: 30px;
	margin-bottom: 0;
}

.testimonial-slider.owl-theme .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	border-radius: 30px;
	background-color: #fff;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	margin: 0 4px;
}

.testimonial-slider.owl-theme .owl-dots .owl-dot:hover span {
	background-color: #7b68ee;
}

.testimonial-slider.owl-theme .owl-dots .owl-dot.active span {
	background-color: #7b68ee;
}

.testimonial-slider.owl-theme:hover .owl-nav {
	opacity: 1;
	visibility: visible;
}
