/*************************************
 ** - 03 - Navbar Section CSS
 *************************************/
 .techvio-responsive-nav {
	display: none;
}

.techvio-nav {
	padding-top: 15px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 15px;
	background-color: transparent;
}

.techvio-nav .navbar {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
}

.techvio-nav .navbar ul {
	padding-left: 0;
	list-style-type: none;
	margin-bottom: 0;
}

.techvio-nav .navbar .navbar-nav {
	margin: auto;
}

.techvio-nav .navbar .navbar-nav .nav-item {
	position: relative;
	padding-top: 10px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 10px;
}

.techvio-nav .navbar .navbar-nav .nav-item a {
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	text-transform: capitalize;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	margin-left: 15px;
	margin-right: 15px;
}

/*
.techvio-nav .navbar .navbar-nav .nav-item a:hover, .techvio-nav .navbar .navbar-nav .nav-item a:focus, .techvio-nav .navbar .navbar-nav .nav-item a.active {
	color: #7b68ee;
}
*/

.techvio-nav .navbar .navbar-nav .nav-item a i {
	position: relative;
	top: -1px;
	font-size: 10px;
	margin-left: 2px;
}

.techvio-nav .navbar .navbar-nav .nav-item:last-child a {
	margin-right: 0;
}

.techvio-nav .navbar .navbar-nav .nav-item:first-child a {
	margin-left: 0;
}

/*
.techvio-nav .navbar .navbar-nav .nav-item:hover a, .techvio-nav .navbar .navbar-nav .nav-item:focus a, .techvio-nav .navbar .navbar-nav .nav-item.active a {
	color: #7b68ee;
}
*/

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu {
	position: absolute;
	z-index: 99;
	top: 80px;
	left: 0;
	width: 230px;
	padding: 0;
	display: block;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	border-radius: 3px;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border: none;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li {
	padding: 0;
	border-bottom: 1px solid #f1f1f1;
}
.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li:last-child {
	border-bottom: 0px solid transparent;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
    position: relative;
    color: #404040;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 12px 15px;
    margin: 0;
}

.techvio-nav.index-navber .navbar .navbar-nav .nav-item a {
	color: #555;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
	color: #ffffff;
    background-color: #7b68ee;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
	top: 0;
	left: -245px;
	opacity: 0;
	visibility: hidden;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
	color: #696997;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
	color: #7b68ee;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu {
	top: 0;
	left: -245px;
	opacity: 0;
	visibility: hidden;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
	color: #696997;
	text-transform: capitalize;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
	color: #7b68ee;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
	top: 0;
	left: -245px;
	opacity: 0;
	visibility: hidden;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
	color: #696997;
	text-transform: capitalize;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
	color: #7b68ee;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
	top: 0;
	left: 195px;
	opacity: 0;
	visibility: hidden;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
	color: #696997;
	text-transform: capitalize;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
	color: #7b68ee;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
	top: 0;
	left: 195px;
	opacity: 0;
	visibility: hidden;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
	color: #696997;
	text-transform: capitalize;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
	color: #7b68ee;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
	top: 0;
	left: 195px;
	opacity: 0;
	visibility: hidden;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
	color: #696997;
	text-transform: capitalize;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
	color: #7b68ee;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
	color: #7b68ee;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
	top: -15px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
	color: #7b68ee;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
	top: -15px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
	color: #7b68ee;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
	top: -15px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
	color: #7b68ee;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
	top: -15px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
	color: #7b68ee;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
	top: -15px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
	color: #7b68ee;
}

.techvio-nav .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
	top: -15px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.techvio-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {
	top: 100%;
	opacity: 1;
	visibility: visible;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.techvio-nav .navbar .other-option {
	margin-top: 3px;
	margin-left: 0;
}

.techvio-nav .black-logo {
	display: none;
}

.navbar-section {
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	background-color: transparent;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.navbar-section.is-sticky {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #ffffff !important;
	-webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
	box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
	-webkit-animation: 500ms ease-in-out 0s normal fadeInDown;
	animation: 500ms ease-in-out 0s normal fadeInDown;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.navbar-section.is-sticky .navbar-nav .nav-item a {
	color: #505050 !important;
}

.navbar-section.is-sticky .navbar-nav .nav-item a:hover, .navbar-section.is-sticky .navbar-nav .nav-item a:focus, .navbar-section.is-sticky .navbar-nav .nav-item a.active {
	color: #7b68ee;
}

.navbar-section.is-sticky .techvio-nav .navbar-brand .white-logo {
	display: none;
	
}


.white-logo{
	width: 170px;
}

.navbar-section.is-sticky .techvio-nav .navbar-brand .black-logo {
	display: block;
	width: 170px;
}

@media only screen and (max-width: 991px) {
	.navbar-section {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.navbar-section.is-sticky {
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: none;
		-webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
	}

	.navbar-section.is-sticky .logo .white-logo {
		display: none;
	}

	.navbar-section.is-sticky .logo .black-logo {
		display: block;
	}

	.techvio-responsive-nav {
		display: block;
	}

	.techvio-responsive-nav .techvio-responsive-menu {
		position: relative;
	}

	.techvio-responsive-nav .techvio-responsive-menu.mean-container .mean-nav ul {
		font-size: 15px;
	}

	.techvio-responsive-nav .techvio-responsive-menu.mean-container .mean-nav ul li a {
		color: #101834;
		font-size: 16px;
		font-weight: 500;
	}

	.techvio-responsive-nav .techvio-responsive-menu.mean-container .mean-nav ul li a.active {
		color: #7b68ee;
	}

	.techvio-responsive-nav .techvio-responsive-menu.mean-container .mean-nav ul li li a {
		font-size: 15px;
	}

	.techvio-responsive-nav .techvio-responsive-menu.mean-container .navbar-nav {
		overflow-y: scroll;
		height: 300px;
		-webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
	}

	.techvio-responsive-nav .techvio-responsive-menu.mean-container .others-options {
		display: none;
	}

	.techvio-responsive-nav .mean-container a.meanmenu-reveal {
		color: #404040;
	}

	.techvio-responsive-nav .mean-container a.meanmenu-reveal span {
		background-color: #404040;
	}

	.techvio-responsive-nav .logo {
		position: relative;
		width: 50%;
		z-index: 999;
	}

	.techvio-responsive-nav .logo .white-logo {
		display: block;
	}

	.techvio-responsive-nav .logo .black-logo {
		display: none;
	}

	.techvio-nav {
		display: none;
	}
}

.techvio-nav .navbar .other-option .call-btn {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7b68ee;
    padding: 8px 10px;
    padding-right: 15px;
    border-radius: 5px;
}

.techvio-nav .navbar .other-option .call-btn i {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #7b68ee;
    background: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 6px;
}