	<!-- Start Portfolio Section -->
    <section class="portfolio-area bg-grey section-padding">
        <div class="container">
            <div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h6 class="sub-title">Recent Works</h6>
						<h2>Our Portfolio</h2>
					</div>
				</div>
                <div class="col-md-12">
                    <div class="portfolio-list">
                        <ul class="nav" id="portfolio-flters">
                            <li class="filter filter-active" data-filter=".all">all</li>
                            <li class="filter" data-filter=".branding">Custom Software Solutions</li>
                            <li class="filter" data-filter=".application">Mobile App Development</li>
                            <li class="filter" data-filter=".webdesign">Web Development</li>
                            <li class="filter" data-filter=".photography">UI/UX Design</li>
                            <li class="filter" data-filter=".photography">Software Integration</li>
                            <li class="filter" data-filter=".photography">Cloud Solutions</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portfolio-container">
				<div class="row">
                    <!-- portfolio-item -->
                    <div class="col-lg-4 col-md-6 portfolio-grid-item all branding">
                        <div class="portfolio-item">
							<img src="assets/img/portfolio/portfolio-1.jpg" alt="image">
                            <div class="portfolio-content-overlay">
								<p>App Store | Social Media</p>
								<h3><a routerLink="portfolio">Creative Web Design</a></h3>
								<a class="portfolio-link-icon" routerLink="portfolio"><i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- portfolio-item -->
                    <div class="col-lg-4 col-md-6 portfolio-grid-item all photography">
                        <div class="portfolio-item">
							<img src="assets/img/portfolio/portfolio-2.jpg" alt="image">
                            <div class="portfolio-content-overlay">
								<p>App Store | Social Media</p>
								<h3><a routerLink="portfolio">Creative Web Design</a></h3>
								<a class="portfolio-link-icon" routerLink="portfolio"><i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- portfolio-item -->
                    <div class="col-lg-4 col-md-6 portfolio-grid-item all branding webdesign">
                        <div class="portfolio-item">
							<img src="assets/img/portfolio/portfolio-3.jpg" alt="image">
                            <div class="portfolio-content-overlay">
								<p>App Store | Social Media</p>
								<h3><a routerLink="portfolio">Creative Web Design</a></h3>
								<a class="portfolio-link-icon" routerLink="portfolio"><i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- portfolio-item -->
                    <div class="col-lg-4 col-md-6 portfolio-grid-item all webdesign">
                        <div class="portfolio-item">
							<img src="assets/img/portfolio/portfolio-4.jpg" alt="image">
                            <div class="portfolio-content-overlay">
								<p>App Store | Social Media</p>
								<h3><a routerLink="portfolio">Creative Web Design</a></h3>
								<a class="portfolio-link-icon" routerLink="portfolio"><i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- portfolio-item -->
                    <div class="col-lg-4 col-md-6 portfolio-grid-item all application">
                        <div class="portfolio-item">
							<img src="assets/img/portfolio/portfolio-5.jpg" alt="image">
                            <div class="portfolio-content-overlay">
								<p>App Store | Social Media</p>
								<h3><a routerLink="portfolio">Creative Web Design</a></h3>
								<a class="portfolio-link-icon" routerLink="portfolio"><i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- portfolio-item -->
                    <div class="col-lg-4 col-md-6 portfolio-grid-item all application photography">
                        <div class="portfolio-item">
							<img src="assets/img/portfolio/portfolio-6.jpg" alt="image">
                            <div class="portfolio-content-overlay">
								<p>App Store | Social Media</p>
								<h3><a routerLink="portfolio">Creative Web Design</a></h3>
								<a class="portfolio-link-icon" routerLink="portfolio"><i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Portfolio Section -->