/*************************************
 ** - 13 - Portfolio Section CSS
 *************************************/
 .portfolio-area {
	position: relative;
}

.portfolio-area .portfolio-list {
	text-align: center;
	margin-bottom: 25px;
}

.portfolio-area .portfolio-list .nav {
	position: relative;
	display: inline-block;
	margin: 0;
}

.portfolio-area .portfolio-list .nav li {
	display: inline-block;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    padding: 14px 25px;
    border-radius: 3px;
    text-transform: capitalize;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 5px 15px 0px rgb(94, 94, 94, 0.15);
    box-shadow: 0px 5px 15px 0px rgb(94, 94, 94, 0.15);
    transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
    margin: 0 5px 10px;
    
}

.portfolio-area .portfolio-list .nav li:hover, .portfolio-area .portfolio-list .nav li.filter-active {
    color: #fff;
    background-color: #7b68ee;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}

.portfolio-area .portfolio-container {
	width: 100%;
	display: inline-block;
}

.portfolio-area .portfolio-grid-item {
	overflow: hidden;
}

.portfolio-grid-item img {
	width: 100%;
    border-radius: 0px;
}

.portfolio-item {
	position: relative;
	display: block;
	overflow: hidden;
    border-radius: 5px;
	margin-top: 30px;
}

.portfolio-item .portfolio-content-overlay {
    position: absolute;
    z-index: 2;
    left: 10px;
    right: 10px;
    bottom: -20px;
    padding: 15px 20px;
    opacity: 0;
    visibility: hidden;
	overflow: hidden;
    border-radius: 5px;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.portfolio-item .portfolio-content-overlay p {
    color: #7b68ee;
    font-size: 15px;
    font-weight: 700;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
    -webkit-transition: all .4s;
    transition: all .4s;
    margin-bottom: 0;
}
.portfolio-item .portfolio-content-overlay h3 {
    color: #1b1b1b;
    font-size: 18px;
    font-weight: 700;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
    -webkit-transition: all .4s;
    transition: all .4s;
    margin-top: 5px;
    margin-bottom: 0;
}
.portfolio-item:hover .portfolio-content-overlay p,
.portfolio-item:hover .portfolio-content-overlay h3 {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition-delay: .3s;
	transition-delay: .3s;
}
.portfolio-item:hover .portfolio-content-overlay {
    bottom: 10px;
    opacity: 1;
    visibility: visible;
}

.portfolio-item .portfolio-content-overlay .portfolio-link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    color: #fff;
    height: 100%;
    padding: 0 20px;
    font-size: 25px;
	overflow: hidden;
	line-height: normal;
    background-color: #7b68ee;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out 0s;
    transition-delay: 0.2s;
}
.portfolio-item:hover .portfolio-content-overlay .portfolio-link-icon {
    transform: translateX(0);
	visibility: visible;
}

/******************************************
 ** - 14 - Portfolio Details Page CSS
 ******************************************/
.portfolio-details-image {
	margin-bottom: 30px;
}

.portfolios-details-desc {
	margin-top: 5px;
}

.portfolios-details-desc h3 {
	font-size: 25px;
	margin-bottom: 13px;
}

.portfolios-details-desc .features-text {
	margin-top: 25px;
	margin-bottom: 25px;
}

.portfolios-details-desc .features-text h4 {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 12px;
}

.portfolios-details-desc .features-text h4 i {
	color: #7b68ee;
	font-size: 16px;
	margin-right: 4px;
}

.portfolios-details-desc .portfolio-details-info {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 35px;
	margin-left: -15px;
	margin-right: -15px;
}

.portfolios-details-desc .portfolio-details-info .single-info-box {
	-ms-flex: 0 0 20%;
	-webkit-box-flex: 0;
	flex: 0 0 20%;
	max-width: 20%;
	padding-left: 15px;
	padding-right: 15px;
}

.portfolios-details-desc .portfolio-details-info .single-info-box h4 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 15px;
}

.portfolios-details-desc .portfolio-details-info .single-info-box span {
	display: block;
	color: #5f5f5f;
	font-size: 16px;
}

.portfolios-details-desc .portfolio-details-info .single-info-box .social {
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

.portfolios-details-desc .portfolio-details-info .single-info-box .social li {
	display: inline-block;
	margin-right: 8px;
}

.portfolios-details-desc .portfolio-details-info .single-info-box .social li a {
    color: #7b68ee;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    border-radius: 25px;
    border: 1px solid #7b68ee;
    background-color: transparent;
}

.portfolios-details-desc .portfolio-details-info .single-info-box .social li a:hover {
	color: #ffffff;
	border: 1px solid #7b68ee;
	background-color: #7b68ee;
}
