	<!-- Start Services Section -->
	<section class="services-section section-padding">
		<div class="container">
			<div class="row">
                <div class="col-md-12">
					<div class="section-title">
						<h6 class="sub-title">What We Provide</h6>
						<h2>Our Services</h2>
					</div>
                </div>
				<div class="col-lg-4 col-md-6">
					<div class="single-services-item">
						<div class="services-icon">
							<i class="flaticon-mobile-app"></i>
						</div> 
						<h3>Mobile App Development</h3>
						<p data-dd-collapse-text="10">At NavyGen, we believe in turning innovative ideas into powerful mobile expriences. As a leading mobile app . . .  </p>
						<div class="services-btn">
							<a href="#" class="read-more"><i class="bi bi-arrow-right-short"></i> Read More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-services-item">
						<div class="services-icon">
							<i class="flaticon-development"></i>
						</div>
						<h3>Web Development</h3>
						<p>As experts, we're dedicated to bringing your digital vision to life through innovative web development solutions. As a leading web . . .  </p>
						<div class="services-btn">
							<a href="#" class="read-more"><i class="bi bi-arrow-right-short"></i> Read More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-services-item">
						<div class="services-icon">
							<i class="flaticon-targeted-marketing"></i>
						</div>
						<h3>CMS Web Developement</h3>
						<p>Take control of your website content with a custom CMS solution. Our developers can integrate with popular CMS platforms . . .</p>
						<div class="services-btn">
							<a href="#" class="read-more"><i class="bi bi-arrow-right-short"></i> Read More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-services-item">
						<div class="services-icon">
							<i class="flaticon-analytics"></i>
						</div>
						<h3>IOS Developement</h3>
						<p>We at Navygen are experts in creating applications specifically for Apple / iOS ecosystem, iOS. Developers use  . . .</p>
						<div class="services-btn">
							<a href="#" class="read-more"><i class="bi bi-arrow-right-short"></i> Read More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-services-item">
						<div class="services-icon">
							<i class="flaticon-super-intelligence"></i>
						</div>
						<h3>Hybrid React Native Development</h3>
						<p>We specialize in Hybrid React Native Development and focus on creating cross-platform mobile applications using the  . . .  </p>
						<div class="services-btn">
							<a href="#" class="read-more"><i class="bi bi-arrow-right-short"></i> Read More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<!-- <div class="single-services-item">
						<div class="services-icon">
							<i class="flaticon-code"></i>
						</div>
						<h3>SEO Optimization</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt dolore magna aliqua</p>
						<div class="services-btn">
							<a href="#" class="read-more"><i class="bi bi-arrow-right-short"></i> Read More</a>
						</div>
					</div> -->
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Services Section -->