	<!-- Start About Section -->
	<section class="about-area bg-grey section-padding">
		<div class="container">
			<div class="row d-flex align-items-center">
				<div class="col-lg-6 col-md-12">
					<div class="about-content">
						<h6 class="sub-title">About Our Company</h6> 
						<h2>Crafting Solutions, Tailored for Success</h2>
						<p>We leverage cutting-edge technologies and best practices to ensure that our solutions are robust, secure, and future-proof. Our agile development approach enables us to adapt to changing requirements quickly and efficiently, ensuring on-time delivery with highest levels of Quality.</p>
						<div class="skills">
							<div class="skill-item">
								<h6>IT Consulting <em>100%</em></h6>
								<div class="skill-progress">
									<div class="progres" data-value="100%"></div>
								</div>
							</div>
							<div class="skill-item">
								<h6>Cloud Solutions <em>100%</em></h6>
								<div class="skill-progress">
									<div class="progres" data-value="100%"></div>
								</div>
							</div>
							<div class="skill-item">
								<h6>Managed IT Service <em>100%</em></h6>
								<div class="skill-progress">
									<div class="progres" data-value="100%"></div>
								</div>
							</div>
						</div>
						<div class="about-btn-box"> 
							<a class="default-btn" routerLink="/about">Learn More <span></span></a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="about-image">
						<img src="assets/img/about.jpg" alt="About image">
						<div class="years-design">
							<h2>23</h2>
							<h5>Years Of Experience</h5>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End About Section -->